body {
    display: flex;
    /* flex-direction: column; */
    justify-content: center;
    /* align-items: center; */
    margin: 10%;
    font-family: 'Open Sans', sans-serif;
}

.main-image{
    max-width: 250px;
    max-height: auto;
    background-size:cover;
    border-radius: 10px;
}

.text{
    
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.name{
    font-size: 50px;
    margin-bottom: 0;
}

.occupation{
    margin-top: 0;
    font-size: 15px;
    color: gray;
}

.welcome-text{
    text-align: center;
    width: 500px;
}

ul {
    list-style: none; 
    display: flex;
    justify-content: space-between;
    gap: 10px;
    margin: 0;
    padding: 0;
}

a {
    text-decoration: none;
    color: royalblue
}

li {
    display: flex;
    
}